<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list id="inputs">
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button class="button" shape="round" expand="full" (click)="goLogin()">Entrar</ion-button>
  <ion-button class="button" shape="round" expand="full" color="medium" (click)="goRegister()">Cadastrar</ion-button>

</ion-content>

