<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Frases
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Frases</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Estamos pensando em você...</ion-card-title>
    </ion-card-header>

    <ion-card-content id="frase"></ion-card-content>
  </ion-card>

  <ion-button color="secondary" (click)='funcButton()' class="ButtonPosition"> Aperte aqui </ion-button>
</ion-content>
