<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dicas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-content fullscreen>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>1°</h2>
            <h3>Pratique exercícios físicos</h3>
            <p>A saúde da mente começa pelo corpo.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>2°</h2>
            <h3>Mantenha a agenda em dia</h3>
            <p>Uma das manifestações é a falta de iniciativa.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>3°</h2>
            <h3>Alimente-se bem</h3>
            <p>Não comer é clássico de quem sofre de depressão.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>4°</h2>
            <h3>Fuja do álcool</h3>
            <p>A sensação boa dura pouco.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>5°</h2>
            <h3>Fique perto de quem gosta de você</h3>
            <p>Amigos e familía são os melhores remédios!</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>6°</h2>
            <h3>Fique perto de quem gosta de você</h3>
            <p>Amigos e familía são os melhores remédios!</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>7°</h2>
            <h3>Mantenha o foco de atenção no presente</h3>
            <p>Quando sua mente está dedicada integralmente ao momento atual, você tem total capacidade de análise, julgamento e ação!</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>8°</h2>
            <h3>Seja mais organizado</h3>
            <p>Quem vive na bagunça gasta tempo para achar o que precisa</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>9°</h2>
            <h3>Dedique tempo para se cuidar</h3>
            <p>Reservar algum tempo do dia para você e ser capaz de ouvir suas reais necessidades</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>10°</h2>
            <h3>Cuide dos pensamentos para sorrir mais</h3>
            <p>Atenção ao que você pensa, pois isso terá impacto direto no seu humor</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>11°</h2>
            <h3>Pensamentos positivos sempre são bem-vindos</h3>
            <p>Atenção ao que você pensa, pois isso terá impacto direto no seu humor</p>
          </ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label>
            <h2>12°</h2>
            <h3>Mantenha-se sempre disposto para tudo</h3>
            <p>Só existem dois dias do ano em que você não pode fazer nada: um se chama ontem e outro amanhã</p>
          </ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label>
            <h2>13°</h2>
            <h3>A persistência deve ser sua maior companheira</h3>
            <p>A vida é um constante recomeço. Não se dê por derrotado e siga adiante. As pedras que hoje atrapalham sua caminhada amanhã enfeitarão a sua estrada</p>
          </ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label>
            <h2>14°</h2>
            <h3>O foco e a vontade devem sempre ser as prioridades</h3>
            <p>Ouse ir além, ouse fazer diferente e o poder lhe será dado!</p>
          </ion-label>
        </ion-item>    

        <ion-item>
          <ion-label>
            <h2>15°</h2>
            <h3>Nunca perca a esperança</h3>
            <p>Enquanto houver fé, nunca faltará força!</p>
          </ion-label>
        </ion-item> 
      
        <ion-item>
          <ion-label>
            <h2>16°</h2>
            <h3>Valorize sua saúde mental e emocional</h3>
            <p>Sua saúde vale mais do que qualquer cifrão. Cuide-se!</p>
          </ion-label>
        </ion-item> 
      
        <ion-item>
          <ion-label>
            <h2>17°</h2>
            <h3>Tire um tempo, se afaste de tudo</h3>
            <p>Às vezes, as coisas só precisam de tempo e distância para que voltem a fazer sentido.</p>
          </ion-label>
        </ion-item> 
      
        <ion-item>
          <ion-label>
            <h2>18°</h2>
            <h3>Arrisque, vá em frente e sem medo!</h3>
            <p>Não há motivação maior do que descobrir quão corajosos conseguimos ser.</p>
          </ion-label>
        </ion-item> 
      
        <ion-item>
          <ion-label>
            <h2>19°</h2>
            <h3>Persista,persevere,insista</h3>
            <p>O verdadeiro heroísmo consiste em persistir por mais um momento, quando tudo parece perdido.</p>
          </ion-label>
        </ion-item> 
      
        <ion-item>
          <ion-label>
            <h2>20°</h2>
            <h3>Busque os seus sonhos</h3>
            <p>Nunca é tarde demais para ser aquilo que sempre desejou ser.</p>
          </ion-label>
        </ion-item> 

      </ion-list>
    </ion-content>
  </ion-header>
</ion-content>
