<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button shape="round" expand="full" (click)="salva()">Salvar Usuario</ion-button>
  <ion-button shape="round" expand="full" color="light" (click)="goBack()">Voltar</ion-button>


</ion-content>
